@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#0F2027,#203A43,#2C5364);
    --background: 210 97.2% 98.22%;
    --foreground: 210 4.4% 0.44%;

    --muted: 210 4.4% 91.1%;
    --muted-foreground: 210 2.2% 41.1%;

    --popover: 210 54.8% 91.1%;
    --popover-foreground: 210 4.4% 0.55%;

    --card: 210 54.8% 91.1%;
    --card-foreground: 210 4.4% 0.55%;

    --border: 210 9.4% 89.44%;
    --input: 210 9.4% 89.44%;

    --primary: 210 44% 11%;
    --primary-foreground: 210 0.88% 91.1%;

    --secondary: 210 2.2% 95.55%;
    --secondary-foreground: 210 3.64% 11.1%;

    --accent: 210 2.2% 95.55%;
    --accent-foreground: 210 3.64% 11.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 210 44% 11%;

    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #3a6186;

    --background: 222 26% 3.04%;
    --foreground: 222 4% 96.9%;

    --muted: 222 20% 11.4%;
    --muted-foreground: 222 4% 53.8%;

    --popover: 222 57% 4.94%;
    --popover-foreground: 222 4% 96.9%;

    --card: 222 57% 4.94%;
    --card-foreground: 222 4% 96.9%;

    --border: 222 20% 11.4%;
    --input: 222 20% 11.4%;

    --primary: 222 40% 38%;
    --primary-foreground: 222 4% 96.9%;

    --secondary: 222 20% 11.4%;
    --secondary-foreground: 222 4% 96.9%;

    --accent: 222 20% 11.4%;
    --accent-foreground: 222 4% 96.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 222 4% 96.9%;

    --ring: 222 40% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}