@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#304352,#d7d2cc);
    --background: 219 96.3% 98.5%;
    --foreground: 219 2.6% 1%;

    --muted: 219 2.6% 92.5%;
    --muted-foreground: 219 1.3% 42.5%;

    --popover: 219 69.2% 92.5%;
    --popover-foreground: 219 2.6% 1.25%;

    --card: 219 69.2% 92.5%;
    --card-foreground: 219 2.6% 1.25%;

    --border: 219 7.6% 90%;
    --input: 219 7.6% 90%;

    --primary: 219 26% 25%;
    --primary-foreground: 219 0.52% 92.5%;

    --secondary: 219 1.3% 96.25%;
    --secondary-foreground: 219 2.56% 12.5%;

    --accent: 219 1.3% 96.25%;
    --accent-foreground: 219 2.56% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 219 26% 25%;

    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #3a6186;

    --background: 222 26% 3.04%;
    --foreground: 222 4% 96.9%;

    --muted: 222 20% 11.4%;
    --muted-foreground: 222 4% 53.8%;

    --popover: 222 57% 4.94%;
    --popover-foreground: 222 4% 96.9%;

    --card: 222 57% 4.94%;
    --card-foreground: 222 4% 96.9%;

    --border: 222 20% 11.4%;
    --input: 222 20% 11.4%;

    --primary: 222 40% 38%;
    --primary-foreground: 222 4% 96.9%;

    --secondary: 222 20% 11.4%;
    --secondary-foreground: 222 4% 96.9%;

    --accent: 222 20% 11.4%;
    --accent-foreground: 222 4% 96.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 222 4% 96.9%;

    --ring: 222 40% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}